<dialog id="js-modal-dialog" data-minutes-idle-timeout="{{ data['modalIdleTime'] or '0.2'}}" data-minutes-modal-visible="{{ data['modalVisibleTime'] or '5'}}"
data-url-redirect="/timeout" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="at-timer">
  <div class="modal-dialog__inner">
	  <h1 id="dialog-title" class="govuk-heading-l">
      Your application will time out soon
    </h1>
    <div class="modal-dialog__inner__text govuk-body">
      <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
      <div id="at-timer" class="at-timer govuk-visually-hidden" role="status"></div>
    </div>
    <div class="modal-dialog__inner__block">
      <button class="govuk-button govuk-!-margin-bottom-0 dialog-button modal-dialog__inner__button js-dialog-close" data-module="govuk-button">Continue application</button>
      <a href="/" class="modal-dialog__inner__link">Save application</a>
    </div>
  </div>
</dialog>
